/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    margin: 0;
    padding: 0;
}

.sideBar {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 240px;
    box-shadow: 0 1px 30px 1px rgb(0 0 0 / 11%);
    /* padding-top: 60px; */
    transition: transform .3s;
    /* background-color: #3d4350; */
    background-color: rgb(86,152,161);
    /* background-image: linear-gradient(315deg, #434c61 0%, #3d4350 74%); */
    color:#fff;
    /* height: calc(100% - 60px); */
    height: 100%;
}

.topBar {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 60px;
    display: flex;
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 5%);
    border-bottom:1px solid #e6e6e6;
    z-index: 99;
    background: white;
    align-items: center;
    justify-content: end;
}

.topBarLeft {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.logoTitle {
    /* color: rgb(86,152,161); */
    color: white;
    font-style: italic;
    line-height: 60px !important;
}


.main {
    /* padding-left: 25px;
    padding-top: 72px; */
    padding: 72px 20px 0 255px;
    min-height: 100vh;
    background: #fff;
}

.sideBar ul {
    list-style: none;
    text-align: left;
    padding-top: 10px;
}

.sideBar ul li{
    padding: 10px 0 15px 30px ;
}

.sideBar ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: block;
    font-size: 16px;
}

.basic__menu {
    z-index: 99999 !important;
    /* background-color: red !important; */
}

.css-1ex1afd-MuiTableCell-root {
    font-family: "Open Sans", sans-serif !important;
}

.caro {
    border: 1px solid black;
    padding: 30px 10px;
    border-radius: 4px;
}
